<!--header-->
<header id="header" ng-controller="CategoryController">
    <div class="content">
        <img src="../images/legend-rounds.png" width="127" height="105" class="pull-right" alt="" title="" />
        <nav id="categories">
            <ul>
                <li ng-repeat="category in categories" ng-mouseenter="showCats()" ng-mouseleave="hideCats()">
                    <span class="cat-color" style="background: {{category.color}}"><span></span></span>
                    <span class="cat-name">{{category.name}}</span>
                    <ul>
                        <li ng-repeat="result in results[category.permalink].data">
                            <a ng-href="#/company/{{ result.permalink }}">{{ result.name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--/header-->

<div ng-controller="EntityController">
    <!--content-->
    <div id="content">
        <div class="content">
            <div bubble-chart id="chart" entities="entity.profile.funding_rounds"></div>
        </div>
    </div>
    <!--/content-->

    <!--footer-->
    <footer id="footer">
        <div class="content">
            <div id="profile" class="clearfix">
                <div class="col col-span-1">
                    <a  ng-if="entity.profile.image[0].image" ng-href="entity.profile.homepage_url" target="_blank">
                        <img ng-src="{{ entity.profile.image[0].image }}" title="{{ entity.profile.name }}" />
                    </a>
                    <ul>
                        <li ng-if="entity.profile.homepage_url">
                            Website:
                            <a ng-href="{{ entity.profile.homepage_url }}" target="_blank">{{ entity.profile.homepage_url }}</a>
                        </li>
                        <li ng-if="entity.profile.twitter_username">
                            Twitter:
                            <a ng-href="https:www.twitter.com/{{ entity.profile.twitter_username }}" target="_blank">@{{ entity.profile.twitter_username }}</a>
                        </li>
                        <li ng-if="entity.profile.email_address">
                            Email:
                            <a ng-href="mailto:{{ entity.profile.email_address }}">{{ entity.profile.email_address }}</a>
                        </li>
                        <li ng-if="entity.profile.offices">
                            Offices:
                            <div ng-repeat="office in entity.profile.offices">
                                {{ office.city }}<span ng-if="office.state_code">,</span> {{ office.state_code }}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col col-span-2">
                    <div ng-bind-html="entity.profile.overview"></div>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>