<header id="header">
    <div class="content">
        <img src="../images/legend-rounds.png" width="127" height="105" class="pull-right" alt="" title="" />
    </div>
</header>
<!--/header-->

<!--content-->
<div id="content" ng-controller="CategoryController">
    <div class="content">
        <nav id="categories">
            <ul>
                <li id="category-{{category.permalink}}" ng-repeat="category in categories" ng-mouseenter="getCategoryResults()" drop-down>
                    <div class="cat-label">
                        <span class="cat-color" style="background: {{category.color}}"></span>
                        <span class="cat-name">{{category.name}}</span>
                    </div>
                    <div ng-class="{'drop-down': true, 'drop-down-loaded': results[category.permalink].data.length}">
                        <div class="scroll-pane">
                            <ul>
                                <li ng-repeat="result in results[category.permalink].data">
                                    <a ng-href="#/entity/{{ result.permalink }}">{{ result.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--/content-->

<!--footer-->
<footer id="footer">
</footer>
<!--/footer-->