<div id="wrapper">
    <!--header-->
    <header id="header" ng-controller="CategoryController">
        <div class="content">
            <img src="../images/legend-rounds.png" width="127" height="105" class="pull-right" alt="" title="" />
            <nav id="categories" class="small-cats">
                <ul>
                    <li id="category-{{category.permalink}}" ng-repeat="category in categories" ng-mouseenter="getCategoryResults()" drop-down>
                        <div class="cat-label">
                            <span class="cat-color" style="background: {{category.color}}"></span>
                            <span class="cat-name">{{category.name}}</span>
                        </div>
                        <div ng-class="{'drop-down': true, 'drop-down-loaded': results[category.permalink].data.length}">
                            <div class="scroll-pane">
                                <ul>
                                    <li ng-repeat="result in results[category.permalink].data">
                                        <a ng-href="#/x/{{ result.permalink }}">{{ result.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--/header-->

    <!--content-->
    <div id="content" ng-controller="EntityController">
        <div class="content">
            Insert chart here<div bubble-chart id="chart" entities="x.funding_rounds"></div>
        </div>
    </div>
    <!--/content-->
</div>

<div ng-controller="EntityController">
    <!--footer-->
    <footer id="footer">
        <div class="content">
            <div id="profile" class="clearfix">
                <div class="col col-span-1">
                    <a class="pull-left" ng-if="x.image[0].image" ng-href="{{ x.homepage_url }}" target="_blank">
                        <img ng-src="{{ x.image[0].image }}" title="{{ x.name }}" />
                    </a>
                    <ul>
                        <li ng-if="x.homepage_url">
                            <span class="label">Website:</span>
                            <a ng-href="{{ x.homepage_url }}" target="_blank">{{ x.homepage_url }}</a>
                        </li>
                        <li ng-if="x.twitter_username">
                            <span class="label">Twitter:</span>
                            <a ng-href="https:www.twitter.com/{{ x.twitter_username }}" target="_blank">@{{ x.twitter_username }}</a>
                        </li>
                        <li ng-if="x.email_address">
                            <span class="label">Email:</span>
                            <a ng-href="mailto:{{ x.email_address }}">{{ x.email_address }}</a>
                        </li>
                        <li ng-if="x.offices">
                            <span class="label">Offices:</span>
                            <span ng-repeat="office in x.offices">
                                {{ office.city }}<span ng-if="office.state_code">,</span> {{ office.state_code }}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col col-span-2 scroll-pane">
                    <div ng-bind-html="x.overview"></div>
                </div>
            </div>
        </div>
    </footer>
    <!--/footer-->
</div>