<div id="wrapper">
    <header id="header" ng-controller="CategoryController">
        <a href="#/" id="logo">Wizual</a>
        <img src="../images/legend-rounds.png" width="127" height="105" class="pull-right" alt="" title="" />
        <div class="content">
            <nav id="categories" class="small-cats">
                <ul>
                    <li id="category-{{category.permalink}}" ng-repeat="category in categories" ng-mouseenter="getCategoryResults()" drop-down>
                        <div class="cat-label">
                            <span class="cat-color" ng-style="catColor(category, true)"></span>
                            <span class="cat-name">{{category.name}}</span>
                        </div>
                        <div class="drop-down-wrap">
                            <div ng-class="{'drop-down': true, 'drop-down-loaded': results[category.permalink].data.length}">
                                <div class="scroll-pane">
                                    <ul>
                                        <li ng-repeat="result in results[category.permalink].data">
                                            <a ng-href="#/x/{{ result.permalink }}">{{ result.name }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="note">Displaying 50 out of {{ results[category.permalink].count }} startups, sorted descending by total amount raised. Use the search option above if you are looking for a specific company.</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--/header-->

    <!--content-->
  <div class="relationships" >
    <div class="arrow-scale-container"></div>
    <div id="content" class="content clearfix" ng-controller="YController" style="height: 316px">
        <div class="startup-graph" ng-show="chartVisible()">
            <svg></svg>
        </div>
        <div class="column1" style="width: 210px">
            <div class="list-container scrollable"></div>
        </div>
        <div class="column2 column-su"></div>
        <div class="column3">
            <div class="list-container scrollable"></div>
        </div>
    </div><!--/content-->    
  </div>

<div ng-controller="YController">
    <!--footer-->
    <footer id="footer">
        <div class="column2 bottom-controls" ng-show="chartVisible()">
            <div class="slider-axis">
                <div class="axis-chart"></div>
                <div class="date-slider-container">
                    <div class="slider-limit-low"></div>
                    <div class="slider-limit-high"></div>
                    <div class="date-slider" style="position: relative;"></div>
                </div>
            </div>
        </div>
        <div class="profiles">
            <div class="column2 bottom-controls" ng-show="chartVisible()">
                <div class="slider-axis" ng-slider-hidden="!sliderVisible()">
                    <svg></svg>
                </div>
                <div class="date-slider-container">
                    <div class="slider-limit-low"></div>
                    <div class="slider-limit-high"></div>
                    <div class="date-slider noUiSlider" style="position: relative;"></div>
                </div>

            </div>

            <!-- div class="col col-span-1">
                <a class="pull-left" ng-if="y.image" ng-href="{{ y.website }}" target="_blank">
                    <img ng-src="{{ y.image }}" title="No name" />
                </a>
                <ul>
                    <li ng-if="y.website">
                        <a ng-href="{{ y.website }}" target="_blank">{{ y.website }}</a>
                    </li>
                </ul>
            </div -->
        </div>

    </footer>
    <!--/footer-->
</div>